body{
    font-family: 'Sora', sans-serif;
  }
  .fondo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:350px;
    background-color:#fff;
   border-radius:25px;
    display:flex;
    flex-direction:column;
    align-items:star;
  justify-content:center;
    box-shadow: 15px 15px 15px #E5EAF0;
  }
  img{
    margin:16px 16px 0px 16px;
    height:50%;
    border-radius:10px;
  }
  .tags{
    margin:16px;
    padding:6px 16px 6px 16px;
    border-radius:25px;
    width:36px;
    color:#883AE1;
    background-color:#E6D6FC;
    font-size:0.625rem;
    text-align:center;
  }
  h1{
    font-size: 1.125rem;
    color:#20293A;
    margin: 0px 16px 6px 16px;
  }
  p{
    font-size: 0.875rem;
    margin: 0px 16px 20px 16px;
  }
  hr{
    width:100%;
  }
  .autor{
    font-size: 0.75rem;
    margin: 16px 16px 20px 16px
  }